[2015-12-17 22:40] gep13 opened #3 "Allow deactivation"
If we continue to push out new versions of this, i think there is some extra work to do in order to support upgrades:

https://github.com/Microsoft/vscode/issues/537#issuecomment-163212257

Just thought I would mention this here in case.

[2016-04-27 12:43] thomaslevesque opened #8 "Can't collapse #regions"
According to [this](https://github.com/cake-build/cake-vscode/blob/b58886c23bf38d7d436fedaa2261a912e8171839/syntaxes/cake.json#L7-L8), I expected `#region`s in Cake script to be collapsible, but they're not. Am I missing something? I'm using VSCode 1.0.0 and version 0.1.1 of the Cake extension.

[2016-04-27 12:52] devlead commented on #8
Does it work for you without the addin and in an regular .cs C# file?

Code folding was added in 1.0 so it's a new feature in VSCode, could be that all cases aren't covered by the editor itself.

[2016-04-27 13:31] thomaslevesque commented on #8
No, it doesn't. I had hoped that the folding pattern defined in cake.json would make it work anyway.

[2016-04-27 14:02] patriksvensson commented on #8
@thomaslevesque @devlead I suspect [this](https://github.com/cake-build/cake-vscode/blob/develop/config/cake.configuration.json) is what enables collapsing of blocks in vs code.

[2016-04-27 14:07] thomaslevesque commented on #8
Yes, probably. But what is the meaning of `foldingStartMarker` and `foldingStopMarker`, then?

[2016-04-27 14:08] patriksvensson commented on #8
@thomaslevesque No idea. A lot of [cargo cult](https://en.wikipedia.org/wiki/Cargo_cult) in that configuration file :smile:

[2016-05-12 17:06] gep13 opened #10 "Add Command for downloading cake.config file"
Similar to the command that was created for packages.config.

[2016-05-13 14:51] patriksvensson commented on #10
Merged via #11.

[2016-05-13 14:51] #10 closed

[2016-07-14 09:10] reicheltp opened #13 ""Cake: Install a configuration file" command produces server error"
I have tried to use the "Cake: Install a configuration file" within vscode but instead of  an expected configuration file it created a `cake.config` file with a server error page inside:

[code]

---
### Environment

Windows 10 Enterprise
VS Code 1.3.1
Cake Plugin 0.4.0

[2016-07-14 09:11] gep13 commented on #13
@reicheltp the cake website is currently down, so what you are seeing is the 404 page that is being returned from the request.

This is something we should really handle within the extension.

[2016-07-14 09:23] patriksvensson commented on #13
@reicheltp Site is back up. Closing issue. Reopen if problem persists.

[2016-07-14 09:26] patriksvensson commented on #13
Reopened the issue after @gep13 pointed out to me that the underlying issue needs to be fixed as well :smile:

[2016-09-06 09:01] gep13 opened #14 "Add ability to parse build.cake file for tasks"
Which are then automatically added to the tasks.json file.

This is dependent on this: https://github.com/Microsoft/vscode/issues/11565 getting implemented.

[2016-09-08 11:30] gep13 opened #15 "Allow ability to set breakpoints in build.cake file"
Right now, in order to set a breakpoint within a build.cake file, you have to switch to the C# language.  We should be able to do this when it is set to Cake Script.

This was discussed here: https://github.com/Microsoft/vscode/issues/11566

[2016-09-08 11:33] gep13 opened #16 "Add build.cake file for packaging and deployment"

[2016-09-10 11:07] #15 closed

[2016-09-10 11:07] #16 closed

[2016-09-10 14:03] gep13 opened #18 "Update to latest Cake.VsCode"

[2016-09-10 14:04] gep13 opened #19 "Add GitReleaseManager to close milestone"

[2016-09-10 14:06] #18 closed

[2016-09-10 14:13] #19 closed

[2016-09-11 21:21] gep13 opened #20 "Adding GitHub Release Publishing"
The Cake Task is there, but it isn't currently hooked up to anything.

[2016-10-12 15:55] jnm2 opened #21 "[Moved] New line should return to same level of indentation"
Darn it, wrong repo! Moved to https://github.com/cake-build/cake-vs/issues/41

[2016-10-12 15:58] #21 closed

[2017-01-26 07:44] gep13 opened #23 "Correct default download URL's"
As per this issue:

https://github.com/cake-build/website/issues/275

Extension is currently using:

[code]

[2017-01-26 07:45] gep13 commented on #23
So they should be changed to:

[code]

[2017-02-13 13:30] kolletzki opened #25 "Keyword highlighting includes left parenthesis"
The keyword highlighting also highlights the left parenthesis after the keyword:

![Screenshot](https://i.imgur.com/KiFG56G.png)

Note: I open this issue since #22 seems to be stuck because no proper issue exists.

[2017-02-16 01:02] agc93 commented on #25
Awesome thanks for the reminder @kolletzki we'll get this moving :+1:

[2017-03-31 19:03] Redth opened #27 "Support ability to setup/install debugging dependencies"
Currently, to setup dotnet core debugging in a folder for cake script, it's a little bit more work than I'd like :)

I'm proposing that a command be created for this vs-code extension that does a couple things:

1. Adds a `.vscode/launch.json` file with the default template, which assumes build.cake should be run.
2. Cake.CoreCLR should be installed to the `./tools/` dir (where the launch.json tem

[2017-05-20 00:27] alexreg commented on #27
I agree, this would be really nice! It doesn't have to necessarily be for .NET Core. (Ordinary .NET/Mono would be just fine.)

@Redth Do you have a template you use for this right now?

[2017-06-13 15:26] Roemer commented on #25
When will there be a release with this fix?

[2017-07-10 21:02] gep13 opened #28 "Align with Marketplace requirements"
As per an email from the Visual Studio Marketplace team, there are going to be restrictions on the usage of SVG's in both readme's and icons.

Update the Cake extension to remove the usage of svg's.

[2017-07-10 21:04] #28 closed

[2017-07-10 21:07] #25 closed

[2017-07-10 21:11] #20 closed

[2017-07-10 21:18] gep13 commented on #23
Since this was handled by the redirects that @devlead has put in place, I don't think that there is anything to do here.

[2017-07-10 21:18] #23 closed

[2017-07-10 21:24] gep13 commented on #13
This has now been corrected on the Cake Website:

https://github.com/cake-build/website/issues/380

And should be working again soon.

[2017-07-10 21:24] #13 closed

[2017-07-10 21:47] gep13 opened #29 "Update to latest tooling"

[2017-07-10 22:04] #29 closed

[2017-07-17 19:07] gep13 commented on #27
@Redth I like this idea, but I am hoping that this "might" not be required.  With the ability to autodetect and add Tasks into the running VSCode, I am hoping to be able to add a debug task, which will launch the debugger.  If this doesn't work out, then the fallback will be your suggestion.

[2017-07-17 19:12] gep13 commented on #8
@thomaslevesque can you confirm if this is working for you or not, or whether this is still a problem?

[2017-07-17 21:56] thomaslevesque commented on #8
@gep13 no, it still doesn't work. It's working in normal C# files.
It's not a big issue, but it would be nice if it worked ;)

[2017-07-18 02:22] Redth commented on #27
Automatically would be even better of course :)

[2017-07-18 06:34] gep13 commented on #8
@thomaslevesque is this something that you are interested in helping out with?

[2017-07-18 07:39] thomaslevesque commented on #8
@gep13 to be honest, not really... I have zero experience with VSCode extensions, and I'm not really interested in learning at this time ;)

[2017-07-18 20:49] gep13 commented on #27
@Redth what are your thoughts on the following?

![setup debugging1](https://user-images.githubusercontent.com/1271146/28339081-d7475854-6c02-11e7-81ca-18286f3a8829.gif)

This allows adding the launch task in one of two ways.

Firstly, if you don't have a launch.json file already, pressing F5 brings up a list of available options, of which Cake is now one of them.  Clicking on this creating the la

[2017-07-18 20:53] gep13 commented on #27
@Redth do you still think another registered command to download the Cake.CoreCLR package is the correct way to go?  Or should it be left up to the end user to run the bootstrapper at least once to get the packages.config file, then update it to include the Cake.CoreCLR package?

@cake-build/cake-team what are your thoughts on this?

[2017-07-18 20:54] Redth commented on #27
i definitely think that's helpful.... i want to look at where i left off investigating getting mono to debug cake.exe working too, which might change how you would want to set up launch.json in this case.  I think ultimately using dotnet core is the best path, but i think we're a ways away from that still.

I'm torn on a step to download the package.... I guess there's no way to hook that into thi

[2017-07-18 20:58] gep13 commented on #27
@Redth technically, if you go down the route of having no launch.json file, then choosing Cake from the first drop down list, I could do some additional work in there to download the Cake.CoreCLR package into the tools folder.  However, this wouldn't work for when you are using the intellisense snippet on an existing launch.json file.

From a consistency point of view, I think I would prefer a sep

[2017-07-18 20:59] Redth commented on #27
Yeah i think you're right...  a command wouldn't hurt, maybe keeping it in a generic name like "Install Cake debug dependencies" or something?

[2017-07-18 20:59] gep13 commented on #27
which might change how you would want to set up launch.json in this case.

If you get this up and running, then I can certainly add other options into either the snippets or the initial configurations to provide the necessary information to debug in that manner.

[2017-07-21 20:57] #14 closed

[2017-07-21 20:58] gep13 commented on #3
This has now been handled with the recent updates to include usage of the TaskProvider.

[2017-07-21 20:58] #3 closed

[2017-07-21 21:01] #27 closed

[2017-07-22 12:55] gep13 opened #32 "Add ProblemMatcher to new TaskProvider"
To help with identifying issues with the build.

This suggestion was made by @egamma

https://twitter.com/ErichGamma/status/888732494002106370

[2017-07-22 14:41] egamma commented on #32
@gep13 there are two scenarios to consider.

- when a task provider is for a build tool with well known error message formats, then a task provider can associate one or more problem matchers with a created task. This is done by the haxe task provider https://github.com/vshaxe/vshaxe/blob/master/src/vshaxe/tasks/HxmlTaskProvider.hx#L22
- if the build is more open ended and allows to use many differ

[2017-07-26 11:30] gep13 opened #33 "Add snippet for complete example build script"
Using the sample that is shown here:

http://cakebuild.net/docs/tutorials/setting-up-a-new-project

[2017-07-26 11:37] gep13 opened #34 "Add snippet for Cake Argument"
To help with the task of creating the following:

var target = Argument("target", "Default");

There should be tab stops for each portion of the Argument definition.

[2017-07-26 11:37] #33 closed

[2017-07-26 11:44] #34 closed

[2017-07-26 11:52] gep13 opened #35 "Add Documentation"
There is some missing documentation in the readme.md file, this needs to be filled out with everything that the extension now does.

[2017-07-26 12:08] gep13 opened #36 "Add license for project"

[2017-07-27 09:20] anrichter opened #37 "Add "Install a build file" Command"
Hi,

when i start with cake in a project i can install a bootstrapper and a config file throgh this plugin.
Thats nice but not sufficent for me.

It would be nice, when i can install a build.cake script file also. Preferably with a working skeleton like the one from the [Setting up a new project](http://cakebuild.net/docs/tutorials/setting-up-a-new-project) page.

So i can open Code in a project w

[2017-07-27 09:46] gep13 commented on #37
@anrichter I actually had the same thought 😄

I created this issue yesterday https://github.com/cake-build/cake-vscode/issues/33 which has been implemented locally.  This means that there is a snippet available which you can run after you add a build.cake file to the project, which will stub out a complete sample script.

Would this satisfy this issue?

[2017-07-27 11:15] anrichter commented on #37
He @gep13

It's not exactly the same. As i understand, with your Snipped i have to create the build.cake file by myself and than run the snippet inside this file.

What i would like to see is a command in VS Code which creates the build.cake file and fill it with the content of your snippet.

So i have to run 3 VS Code commands and have a working skeleton for cake build in a fresh project.

[2017-07-27 11:28] gep13 commented on #37
@anrichter I have spoken with the team, and we think that this would make sense, yes.

In addition to this new command for adding a build script, we are thinking that an aggregate command to add all the necessary files would be useful.  So bascially, the Visual Studio Code equivalent of the wizard that yeoman creates:

http://cakebuild.net/blog/2016/09/cake-for-yeoman

[2017-07-27 11:35] gep13 commented on #36
Same license as used by main Cake project.

[2017-07-27 11:35] #36 closed

[2017-07-27 11:37] gep13 opened #38 "Add snippet for addin pre-processor directive"

[2017-07-27 11:37] gep13 opened #39 "Add snippet for load pre-processor directive"

[2017-07-27 11:37] gep13 opened #40 "Add snippet for reference pre-processor directive"

[2017-07-27 11:38] gep13 opened #41 "Add snippet for tool pre-processor directive"

[2017-07-27 11:50] #38 closed

[2017-07-27 11:50] #39 closed

[2017-07-27 11:51] #40 closed

[2017-07-27 11:54] #41 closed

[2017-07-27 11:55] gep13 opened #42 "Add aggregate command"
i.e. a single command to add all standard Cake files.

Similar to the output from the Cake Yeoman Generator

[2017-07-27 11:59] anrichter commented on #37
@gep13 That's sounds good :)

The Aggregate Command makes sense to me too.
I also thought about it, as is wrote the last comment ;)

[2017-07-27 13:02] gep13 commented on #37
@anrichter thank you for the suggestion.  This will be in the next release 😄

[2017-07-27 13:02] #37 closed

[2017-07-28 19:00] gep13 opened #44 "Correctly handle errors in build.cake creation command"

[2017-07-28 19:01] gep13 opened #45 "Add logic to open build.cake on completion"

[2017-08-01 14:11] Redth opened #47 "Extension won't build on macOS"
There's a few issues in the build script causing things to fail to build on macOS:

- [ ] Version info is being pulled from non-existent source code: https://github.com/cake-build/cake-vscode/blob/develop/build/version.cake#L22
The usual code path that runs on windows is being explicitly skipped and so another code path which is no longer valid is run instead.

- [ ] VscePackage command cannot loc

[2017-08-01 14:14] gep13 commented on #47
@Redth for the second problem, I think the problem here actually lies with the Cake.VsCode addin.  I think I need to provide alternative tool paths:

https://github.com/cake-contrib/Cake.VsCode/blob/develop/Source/Cake.VsCode/VsceTool.cs#L57

[2017-08-01 14:30] Redth commented on #47
@gep13 alternative tool paths and also add just `vsce` as a tool name (instead of only `vsce.cmd`)

[2017-08-02 15:38] Roemer commented on #8
I guess this is the issue which tracks the state in Visual Studio Code:
https://github.com/Microsoft/vscode/issues/3422
Unless this is solved, it seems to be hard to have correct folding.

[2017-08-07 13:38] jsacapdev opened #48 "addin directive stops debugger working"
## Environment data
Windows 10

Extension version:
0.8.0

## Steps to reproduce

1. create new directory
2. add build.cake:

[code]

3. add build.ps1 bootstrap (Cake: Install a Bootstrapper)
4. add cake.config:

[code]

5. Download Debug dependencies and setup launch.config:

[code]

6. F5 to debug

## Expected  behavior

Breakpoint in Default is hit

## Actual behavior

Error: System.InvalidOpera

[2017-08-07 13:41] gep13 commented on #48
@jsacapdev in order for the debugger in VSCode to work, all addin's that are used within the script need to support .NET Core, as it is the .NET Core debugger that is used within it.  Cake.Git is currently only compiled for full framework.

Another option, which is almost ready, would be to use the Mono Debugger in VSCode.  This should allow you to debug correctly.

[2017-08-07 13:46] jsacapdev commented on #48
Thanks.

For my own understanding, is that a Mono debugger for Cake? So, something like:

"program": "${workspaceRoot}/tools/Cake.Mono/Cake.dll"

[2017-08-07 13:47] patriksvensson commented on #48
No, the standard Mono debugger for VSCode by Microsoft.

[2017-08-07 13:53] #48 closed

[2017-08-07 14:06] mholo65 commented on #48
But debugging with mono requires Cake 0.22, which is not yet shipped

[2017-08-07 19:37] gep13 opened #49 "Switch all URL's to https"

[2017-08-07 19:41] #49 closed

[2017-08-08 20:14] gep13 opened #50 "Setup Travis Build for Mac and Linux builds"

[2017-08-09 06:25] gep13 commented on #47
@Redth if/when you have a minute, can you take a look at this again?

The latest code on the develop branch now successfully builds on Travis for both Linux and OSX.  Could you test it out locally as well?

And if you are happy, we can close this out.

[2017-08-09 06:26] #50 closed

[2017-08-11 13:50] Redth commented on #47
@gep13 works perfectly here, thanks!

[2017-08-11 13:50] #47 closed

[2017-08-11 13:54] gep13 commented on #47
@Redth sweet! Thanks for checking!

[2017-08-16 16:16] tritao opened #51 "#load directive syntax highlighting broken with slash characters"
When encountering a directive like `#load "foo/bar.cake"` then highlighting is broken and stays white instead of blue like other directives.

[2017-08-23 19:35] gep13 opened #52 "Remove syntax highlighting"
The syntax highlighting that is provided by this Cake extension is actually preventing it from being able to light up the intellisense that is offered by Omnisharp.  This is due to the fact that Omnisharp works with C# files, rather than Cake Files.

What I mean by this is, with this extension in play, Cake files are identified at Cake Script files:

![image](https://user-images.githubusercontent.

[2017-08-23 19:37] gep13 commented on #51
Based on the fact that we are planning on removing the custom syntax highlighting (as explained in this issue: https://github.com/cake-build/cake-vscode/issues/52) I am not sure if there is going to be anything that we can do if this happens with the out of the box syntax highlighting offered by C#.

I am going to go ahead and close this issue.  Please feel free to respond back if there is anythin

[2017-08-23 19:37] #51 closed

[2017-08-23 19:38] gep13 commented on #8
@Roemer thank you for linking to that issue.  This seems like an upstream problem, so for now, unless there are any objections, I am going to go ahead and close this issue.

Please feel free to respond if there are additional comments.

[2017-08-23 19:38] #8 closed

[2017-08-23 20:16] #52 closed

[2017-08-23 20:46] gep13 commented on #42
@agc93 I have taken this for a spin, and all looks good to me :+1:

[2017-08-23 20:46] #42 closed

[2017-08-23 20:46] gep13 commented on #44
This has been addressed.

[2017-08-23 20:46] #44 closed

[2017-08-23 21:14] #35 closed

[2017-08-29 15:49] pshrosbree opened #53 "Problem debugging with this extension"
I'd appreciate any help getting debugging to work. I F5 in VSCode 1.15.1 32-bit on a cake script (that works) I get:

[code]

Cake 0.2.1.1
Cake.CoreCLR 0.21.1

[2017-08-29 16:45] gep13 commented on #53
@pshrosbree can you share the script you are trying to debug?

[2017-08-29 16:56] pshrosbree commented on #53
[code]

[2017-08-29 17:04] gep13 commented on #53
Okay, so this makes sense.

As of today, when debugging in VSCode, you are using Cake.CoreCLR, which means all addins have to also be compiled for .net core. Cake.Git currently isn't. In the next version of Cake, 0.22.0, you will be able to use the mono debugger in VSCode, which means you will be able to debug addins that target .net framework.

Hope that makes sense.

[2017-08-29 17:09] pshrosbree commented on #53
Thanks.

This only affects debugging, right? The scripts themselves seem to work just fine so far.

I am just starting to look at Cake as a replacement for our current build tool, so I am a newbie.

[2017-08-29 17:52] gep13 commented on #53
Yes, that is correctly. It only affects the debugging. Script will execute normally using Cake.exe.

[2017-08-31 17:00] #53 closed

[2017-09-17 05:12] agc93 opened #54 "Change to using the new debug configuration API"
This is just a tracking issue to cover (eventually) changing from the current `initialConfigurations` API to the new `DebugConfigurationsProvider` API introduced with 1.16

Docs [here](https://code.visualstudio.com/updates/v1_16#_debug-api-updates).

[2017-09-17 08:00] gep13 commented on #54
@agc93 good idea!

[2017-10-25 08:56] mholo65 opened #55 "Support adding Cake.Bakery to packages.config"
Would help omnisharp cake support.

[2017-10-25 14:29] patriksvensson commented on #55
I can give this a shot 😄

[2017-10-26 18:59] #55 closed

[2017-10-26 19:32] gep13 opened #57 "Read values from cake.config file"
As discussed in this PR:

https://github.com/cake-build/cake-vscode/pull/56#discussion_r146886857

Rather than hard-coding the string

[2017-10-26 20:05] gep13 opened #58 "Add support for Mono Debugger Configuration"
Similar to what was provided for the Cake.CoreCLR Debugger

[2017-10-26 20:08] #58 closed

[2017-11-06 09:46] isidorn opened #59 "VSCode is no longer supporting specifiying a commandId in the "initialConfigurations" contribution"
Hi,

We noticed your extension in `package.json` is using a `"initialConfigurations"` contribution in a deprecated way by specifiying a command id.
We wanted to let you know that we plan to delete support for this specific use of "initialConfigurations" soon.
More about this deprecation can be found [here](https://github.com/Microsoft/vscode/issues/33791) and in our release notes.
A good example o

[2017-11-06 10:08] gep13 commented on #59
@isidorn thank you for raising this, we were initially tracking this here: https://github.com/cake-build/cake-vscode/issues/54, but I will close that one as a duplicate.

[2017-11-06 10:09] #54 closed

[2017-11-06 12:49] gep13 opened #60 "Support the cake.config file as an ini file"
This is what it is after all, however, by default, VSCode opens this an as XML document.

[2017-11-06 21:00] gep13 commented on #59
@isidorn would you be in a position to provide some help with this?  I am trying to implement the `DebugConfigurationProvider` but neither the `provideDebugConfigurations` or `resolveDebugConfiguration` methods are called.  At which point should I expect these to be called in order to return my initial configurations?  Thanks!

[2017-11-06 21:18] gep13 commented on #59
@isidorn actually, I think I have figured this out, as we are not using the full API surface.  Could you please verify the changes in this PR: https://github.com/cake-build/cake-vscode/pull/62

Thanks in advance!

[2017-11-07 08:52] isidorn commented on #59
@gep13 I suggest that you simply try your extension against the latest vscode insiders. If it works then I would be confident of the changes.
I glanced through your code in the PR and I do not see any implementation of the `DebugConfigurationProvider` which I find strange.

[2017-11-07 09:00] gep13 commented on #59
@isidorn thanks for taking the time to look at this!  I really appreciate it!

I have ran the code in the Insiders build of code, and it seems to work as I would expect it to.

This extension doesn't actually add anything other than the contents of the launch.json file.  This comes in two forms, i.e. when the user presses F5 when there is no launch.json file in the workspace, it provides an initia

[2017-11-07 09:10] isidorn commented on #59
@gep13 if it works fine then all is good. DebugConfigurationProvider is there only if you need to specially massage the launch.json configurations. If everythign works nicely staticly then just leave it as a contribution in package.json

[2017-11-07 09:12] gep13 commented on #59
@isidorn ok perfect, in which case, I think we can leave it as is, as we don't do any special handling of the launch.json (or at least, not yet 😄).

Thanks again for reaching out on this issue!

[2017-11-07 20:24] #59 closed

[2017-11-07 20:26] #60 closed

[2017-11-08 07:43] gep13 opened #63 "Generated VSIX package doesn't contain out folder"
This results in the following error:

https://github.com/Microsoft/vscode/issues/37788

in the published/installed extension.

[2017-11-09 13:26] gep13 opened #64 "Take a dependency on the C# extension"
These two extensions are now intrinsically linked, and we want to use some features that appear in the other extension.

As a result, we should take a dependency on it in our package.json file.

Information here:

https://code.visualstudio.com/docs/extensionAPI/extension-manifest

[2017-11-09 13:28] gep13 opened #65 "Once Cake.Bakery is installed, restart Omnisharp server"
Once the Cake.Bakery package is downloaded from the install command, we should restart the Omnisharp server so that things can start up.

This will prevent the need to close/open Visual Studio Code when setting up for the first time.

Have a read of this twitter discussion:

https://twitter.com/gep13/status/928349645302099968

[2017-11-10 12:49] iHaveBecomeDeath opened #66 "Update .gitignore for tools folder"
Changes in the tools folder are not ignored properly when committing, due to the .gitignore file being rather specific about which files are ignored in that directory.

I propose a change in line with the example here https://github.com/github/gitignore/blob/master/VisualStudio.gitignore in order to exclude the entire tools directory _except_ the packages.config-file.

[2017-11-10 13:00] #66 closed

[2017-11-10 13:05] iHaveBecomeDeath opened #68 "Update build.sh and use Cake 0.23 to enable build on Mac OS"
New version of build.sh and the Cake version that uses Roslyn will enable builds on Mac Os X.

This unfortunately means that build must be performed with
--settings_skipverification=true
since not all things are updated at the same time.

[2017-11-10 13:29] #68 closed

[2017-11-10 14:22] gep13 opened #70 "Prevent updating of package.json version number on local builds"
This should only happen when running on CI Server, i.e AppVeyor or Travis.

[2017-11-10 15:00] #70 closed

[2017-11-10 15:19] iHaveBecomeDeath commented on #65
commands.executeCommand('o.restart');
does not seem to do the trick. Neither does command palette -> restart omnisharp server.

Restarting VS Code does help though!

[2017-11-12 21:37] gep13 commented on #57
@nksfrank were you in a position to push the work that you had done on this as a PR?  Thanks again for all your help on Friday!

[2017-11-14 07:31] nksfrank commented on #57
@gep13 here's what I managed to pull together last at Knowabunga. The code needs some spring cleaning. And, the ini and @types/ini packages need to be added. I don't know why it didn't seem to stick in side the package.json file after a build, so I didn't push the package.json file with this pr.
Thank you for joining us and for a great Knowabunga

[2017-11-14 07:37] gep13 commented on #57
@nksfrank thank you for putting this together, I really appreciate it.  I will have a look at the code 😄

[2017-11-14 20:38] #45 closed

[2017-11-14 20:40] #64 closed

[2017-11-14 21:30] #57 closed

[2017-11-14 22:15] gep13 commented on #65
@iHaveBecomeDeath I have added in the logic that you suggested, and going to take this for a spin in an actual release, to see what happens, YOLO! 😄

[2017-11-14 22:15] #65 closed

[2017-11-28 11:33] Roemer opened #73 "Allow running tasks when cake.build/.ps1 is in a subfolder"
Currently it is not possible to run cake tasks when the cake.build/.ps1 is not in the root.
This should somehow be configurable.

[2017-12-04 20:41] gep13 opened #75 "Create commands for adding addin/tools by querying NuGet"

[2017-12-04 20:42] gep13 opened #76 "Create command for adding modules by querying NuGet"
This would require the creation/updating of the packages.config file in the Modules folder

[2017-12-04 20:48] #75 closed

[2017-12-11 18:58] #76 closed

[2017-12-11 21:05] jrgcubano opened #78 "Add lint-staged with prettier to lint and format code before commit a feature or fix"
The idea is to be able to perform some linting and formating before committing your code. The commit phase will break if linting and formatting not working on current changes. With this we can ensure no errors (like missing semicolon, etc) and give us some coding style to follow!

Useful links to review:
- https://github.com/okonet/lint-staged
- https://github.com/prettier/prettier
- https://www.n

[2017-12-16 16:22] MeikTranel opened #79 "Warn users that Cake.exe is missing when calling "Install Intellisense Support""
When checking out a repository clean, common sense would dictate that after executing the "Install intellisense support" Intellisense would work right off the bat (Given that troubleshooting steps have been taken (like making sure OmniSharp is installed, or that the Project has been loaded).

But what happens is, that for OmniSharp to work it is necessary that the regular bootstrapper has been cal

[2017-12-27 12:20] jrgcubano opened #80 "Add codelens to run and debug tasks directly from cake files"

[2017-12-28 17:21] jrgcubano opened #81 "Add descriptions and enum values to vscode cake settings on package.json"
Add descriptions and default values to subsections on package.json configuration without breaking changes.

Affected sections:
- cake.taskRunner
- cake.bootstrappers
- cake.configuration

[2017-12-28 19:36] gep13 commented on #81
@jrgcubano this sounds like a good idea to me!

[2018-01-01 21:21] #80 closed

[2018-01-05 17:34] trondhindenes opened #83 "Not getting "cake script" support after installing the extension"
On Ubuntu 17.10, cake files are showing up as "C#" type files instead of "Cake Script". Also I can't manually select "Cake script" as file type, since it's not in the list of "known" file types.

I'm running the 0.10.1of the extension.

[2018-01-05 17:41] devlead commented on #83
Cake script highlighting is now handled by the standard C# extensions, so this is expected behavior. Intellisense is handled by Omnisharp just as with C# by installing Bakery, there's an command for this in the latest version of the Cake extension.

[2018-01-05 17:43] trondhindenes commented on #83
okay that makes sense. However, "Format Document" doesnt work for example, even tho I have the required C# extensions/monisharp packages installed. Shouldn't this work for .cake files aswell?

[2018-01-05 18:31] mholo65 commented on #83
Yes, we currently don’t support any ”code actions” in the Cake OmniSharp plugin. This basically means we lack support for stuff like ”Format Document”, ”Rename..”, ”Add missing usings, etc...”.

[2018-01-06 19:28] jrgcubano commented on #83
Well, I was just thinking the other day to add some of those features that you comment @trondhindenes!

[2018-01-26 15:29] wwwlicious opened #84 "failing to download behind corporate proxy"
When I try to install intellisense support in VS Code (v1.19.3) I get no output messages indicating failure and bakery is not added.

The dev tools show the following in the log >
`ERR Failed to download Cake Bakery from NuGet: Error: self signed certificate in certificate chain`
which is the proxy doing it's thing.

When this happened with browsing/installing vs code extensions, the following was

[2018-02-10 00:48] cmbaldock opened #85 "Debugging causes "More than one build script specified" error if a space exists in the file path"
If I try to debug a cake file in Visual Studio Code that contains a space in the directory name then I always get a "More than one build script specified" error. This doesn't occur if there are no spaces in the directory name.

I'm using the standard launch.json file specified below:

[code]

The output when I debug a build.cake file in the directory "D:\Temp\Cake Test" is as follows:

[code]

[2018-02-10 08:34] devlead commented on #85
What happens if you quoted your document? I.e.
[code]

[2018-02-10 08:44] cmbaldock commented on #85
I did give that a go. Unfortunately the same error occurred.

[2018-02-14 14:58] lganderson opened #86 "Permission Denied when trying to Run Tasks"
When using the Tasks: Run Task command and selecting a Cake Task to run I get the following error in the Terminal window.

[code]

![screen shot 2018-02-14 at 8 48 30 am](https://user-images.githubusercontent.com/7017877/36210693-ba2dc2aa-1164-11e8-9cdb-ed7b47ae009c.png)

**Versions**:
macOS - 10.13.2
VS Code - 1.20.1
cake-vscode - 0.10.1

[2018-02-14 15:01] patriksvensson commented on #86
Make sure that you give your `build.sh` script executable permissions.

[code]

[2018-02-14 18:04] lganderson commented on #86
That fixed the issue, thank you.

[2018-02-14 18:04] #86 closed

[2018-02-22 13:52] WalkerCodeRanger opened #87 ""Configure Default Build Task" doesn't work with Cake"
Normally, you can configure a default build task so that pressing `ctrl+shift+b` will immediately run the task. You can set this up by selecting from the command palette "Tasks: Configure Default Build Task". It will then give you a list of tasks it understands for you to pick from. Select "Cake: Default". This adds an entry to your `tasks.json` file. That entry is:

[code]
However, the console im

[2018-02-22 14:14] gep13 commented on #87
@WalkerCodeRanger can you help me understand what you are doing here?  Where are you finding the option to select `Cake: Default`?  I am not seeing that option.

[2018-02-22 16:17] WalkerCodeRanger commented on #87
Sorry, that was confusing. I have a task named "Default" in my cake build file. Just pick any cake task that you want to run as the default build task.

[2018-03-12 17:33] sean-rose commented on #57
@gep13 This issue is affecting me, but v0.11.0 with this fix hasn't been released yet (latest version available is v0.10.1 released in November).  Any idea when v0.11.0 might be released to the Visual Studio marketplace?

[2018-03-19 13:56] nazandrey commented on #84
I know, its kind of late but may be will help anyone - you can try to add Cake.Bakery at packages.config like this:
[code]
Then run your build.ps1 and it should work. It's workaround of course, but it works at least for me.

[2018-04-16 12:59] MarkKharitonov opened #88 "build.ps1 is empty after running the Install a bootstrapper command for Windows"
I have VS Code version 1.22.2 (installed today) and Cake plugin version 0.10.1

Running the Install a bootstrapper and choosing the Windows version generates an empty build.ps1 file.
Note, that the selecting the Linux version generates a non empty build.sh script, so this is a purely Windows issue.

[2018-06-30 19:59] gep13 commented on #76
I have changed this feature slightly to use the `#module` directive, rather than using the packages.config.  Going forward, the packages.config file will start to be phased out, so better to encourage people to use the directives.

[2018-06-30 20:36] gep13 opened #89 "Get GitVersion and GitReleaseManager to execute on Mac"
So that release notes can be generated on the Mac.

[2018-07-01 18:43] #89 closed

[2018-07-01 18:45] gep13 commented on #73
@Roemer starting to look at this extension again...

Could you provide a small sample application that I can use to replicate this problem?

[2018-07-01 18:48] gep13 commented on #83
@mholo65 am I right in saying that these features will just start to "light" up with newer releases of Cake.Bakery and Omnisharp?  I don't think that there is anything to do here for this extension is there?

[2018-07-01 18:55] gep13 commented on #88
@MarkKharitonov apologies for the lack of response on this.  I am starting to look at the extension again.

Can you please confirm if you are still seeing this issue for you?

I have just tested on a new machine, and both the PowerShell and Bash bootstrappers download successfully for me.

[2018-07-01 18:58] mholo65 commented on #83
Rename and Roslyn code actions, such as add missing usings are available in latest omnisharp and will most probably be made available by default in VS Code with next release of the C# extension. If you want it today just add `”omnisharp.path”: ”latest”` in your workspace config and restart omnisharp server. But beware, as these are bleeding edge bits, it might not be 100% compatible with your C# e

[2018-07-01 19:15] gep13 commented on #83
@trondhindenes I am going to go ahead and close this out, as this functionality will simply start appearing as other things are released.  Let me know if you have any questions.

[2018-07-01 19:15] #83 closed

[2018-07-01 20:58] gep13 opened #90 "Fix publishing to marketplace"
With the 0.11.0 release, this didn't work, and had to be uploaded manually.

[2018-07-01 21:56] gep13 opened #91 "Fix missing out folder"
Same problem that existed in 0.10.0 release.

[2018-07-01 21:57] gep13 commented on #91
![image](https://user-images.githubusercontent.com/1271146/42139248-137b0be0-7d82-11e8-9395-0e7aba2c7da1.png)

Problem here is that global installation of tsc is not being used, since there is another location that it is found.  For now, hard-coded to the correct location.

[2018-07-01 21:57] #91 closed

[2018-07-01 21:58] #90 closed

[2018-07-01 21:58] gep13 commented on #90
Think this should be taken care of due to using latest version of vsce.

[2018-07-02 07:58] Roemer commented on #73
I don't have an example repo for this (yet) but the idea is to have:
[code]
Currently, the build.cake/ps1 files needs to be directly under root. Would be great to be able to configure it to also have them in some sub-folder

[2018-07-02 08:02] gep13 commented on #73
@Roemer and when you say `Run Tasks`, can you confirm exactly what you mean?

i.e. can you give me a full set of steps to reproduce the problem, so that I don't make any assumptions?

Thanks

[2018-07-02 08:09] Roemer commented on #73
Repro steps:
- Create an empty folder (root)
- Create a folder "build" inside that folder
- Open the root folder it in VS Code
- F1 -> Cake: Install to workspace
- Enter "build\build.cake"
- Yes/Yes/Yes
- Task -> Run Task... -> Cake: Run Default

There are multiple issues here:
1.  The build folder needs to exist, otherwise the build.cake file is silently not created
2. Only the build.cake file is

[2018-07-02 09:08] JorisMolnar opened #92 "Error message "command 'cake.intellisense' not found""
Today I received an update to the Cake extension for Visual Studio Code.

After this update, when I run any of the Cake commands in VS Code, I get the following error message (dependent on the command):

If I open the Developer Tools of VS Code I can see the following errors in the console log:

![image](https://user-images.githubusercontent.com/20184617/42155023-8b1a155a-7de7-11e8-9acf-fa12a0e282

[2018-07-02 09:19] pascalberger commented on #92
This is a known issue with the packaging of the latest version of the extension and we're currently working on a fix.

In the meantime you can try the following:

* Close Visual Studio Code
* Open Command Prompt
* Navigate to C:/Users/<your user name>/.vscode/extensions
* Navigate to the Cake extension folder for version 0.11.1
* Run `npm install`
* Re-open Visual Studio Code

[2018-07-02 09:32] gep13 commented on #92
@JorisMolnar on a side note...

Where did you find that Developer Tools for VS Code window?  I was hunting for that this morning, but I couldn't find it 😄

[2018-07-02 09:43] JorisMolnar commented on #92
@gep13 Right here 😊

![image](https://user-images.githubusercontent.com/20184617/42156972-c3cb3032-7dec-11e8-8f51-cb6a7b5c031c.png)

[2018-07-02 09:45] gep13 commented on #92
Doh! I looked through every other menu, apart from this one!!

Thank you very much!

[2018-07-02 10:10] #92 closed

[2018-07-02 10:16] gep13 commented on #92
@JorisMolnar thank you very much for taking the time to post this issue.  Your original screenshot directed me to exactly the cause of the problem.  I have just pushed out a new version of the extension, 0.11.2, which should correct the problem.  Please let us know if you continue to see issues.

[2018-07-02 12:02] Roemer opened #93 "Adding a tool/addin from the commandlet reformats the cake file"
As the title says, when the cmdlet `Cake: Add tool/addin from NuGet` is used, it removes all newlines from the file.

[2018-07-05 19:24] EifelMono opened #94 "Codelens does not work if there is a space in the path"
Codelens does not work if there is a space in the path.
This happens with macOS and Windows

I can not compile the project....?!?

ORIGINAL
[code]

FIXED
[code]

[2018-07-05 19:29] WalkerCodeRanger commented on #73
Was this working and broke recently? I have a project where the build.cake is in a subfolder, but the build.ps1 is at the root and has been modified to point to it. It was working from and I had build tasks. I just upgraded VS Code to and now 1.25.0 it started giving "No build task to run found. Configure Build Task..." when I pick "Run Build Task..." (ctrl+shift+B). I'm running cake-build.cake-vs

[2018-07-06 07:59] gep13 commented on #73
@WalkerCodeRanger looks like something has changed 😢 I have just tried the same thing, i.e. updating to latest VS Code, and when I click "Run Task" it is no longer finding the tasks that are there.

[2018-07-06 08:30] gep13 commented on #73
@WalkerCodeRanger I have raised an issue about this here: https://github.com/Microsoft/vscode/issues/53673

[2018-07-08 12:49] gep13 opened #95 "Run Task command doesn't show any tasks"
This was reported as an issue on the VS Code GitHub site here:

https://github.com/Microsoft/vscode/issues/53673

[2018-07-08 12:50] gep13 commented on #95
A solution to the problem was provided by @dbaeumer

[2018-07-08 12:51] #95 closed

[2018-07-08 12:54] gep13 commented on #94
@EifelMono thank you for taking the time to report this!  This should be corrected in the next release of the Visual Studio Code addin for Cake.

[2018-07-08 15:46] gep13 commented on #94
@EifelMono 0.11.3 has been pushed to the marketplace.  Can you please take this for a spin, and let us know if this has fixed the problem that you are seeing.

[2018-07-08 16:45] EifelMono commented on #94
@gep13

MAC:
Codenles does not work on a Mac because the equal char is missing between the script and the fileName
bug: ./build.sh --script \"${fileName}\" ......
fix: ./build.sh --script=\"${fileName}\" ......
If I add the equal char in the command line the path with blank works.

Windows:
On Windows it works.
FYI the verbosity switch on windows has also an equal char but it works.

[2018-07-09 19:33] mholo65 commented on #94
@gep13 @jrgcubano any reason why Code lens action is using bootstrapper when executing Cake? Wouldn't it be wise to just kick-off `cake.exe` or `dotnet cake.dll` instead?

[2018-07-10 07:24] gep13 opened #96 "Use correct version in task.json file"
Taken from here:

[2018-07-10 07:30] #94 closed

[2018-07-10 07:32] #96 closed

[2018-07-10 07:46] gep13 commented on #94
@EifelMono can you please try again with 0.11.4 and let me know if you are still running into problems?  Thanks

[2018-07-10 17:13] EifelMono commented on #94
@gep13

Code lens "run task" now works on macOS and windows. It works also with a blank in the path.

But "debug task" does not work on macOS and Windows.
It downloads the Cake.CoreCLR starts the debugger and than ????

I have attached two videos macOS and Windows about that.

https://github.com/EifelMono/ReportedBugs/tree/master/cake-build/cake-vscode/94

[2018-07-10 17:16] gep13 commented on #94
I haven’t checked the video, but can you provide a link to the project you are trying to debug? It could be that you are using something that isn’t compatible with Cake.CoreClr which is what debugging is using by default. In this instance, you would need to modify the Cake settings to use mono as the debugger rather than .net core.

[2018-07-10 17:32] gep13 commented on #94
I will try to look at this tonight, and I will let you know what I find.

[2018-07-18 13:53] theperm opened #97 "Can't get any of the commands to work in vs code"
For example execute of Cake: Install a bootstrapper
results in toast message popup command 'cake.bootstrapper' not found

Similar message occurs with other commands

Uninstalled Cake extensions and reinstalled but it made no difference.

Any ideas?

[2018-07-18 14:13] gep13 commented on #97
@theperm can you please confirm what version of the Cake extension you have installed?

[2018-07-18 14:13] patriksvensson commented on #97
@theperm What version of the Cake extension are you using?

[2018-07-18 14:15] theperm commented on #97
The latest that shows in VS code extensions 0.11.4

[2018-07-18 14:34] gep13 commented on #97
@theperm are you on Mac, Linux or Windows?

There was an issue with the original 0.11.0 package where the `out` folder wasn't copied into the generated vsix folder, which caused this problem, but that has been resolved.  It could be that you have a local cached version of the extension lurking around that needs to be tidied up?!?

If you let me know what OS you are running, we can dig into the ext

[2018-07-18 14:43] theperm commented on #97
I think its be working now. I saw the video there about the 10.0 issue and it looked like that si must have had that version before i reinstalled, i restarted after the re-install and the commands i have tried now work. Thanks

[2018-07-18 14:48] gep13 commented on #97
Glad to hear you got it working!

[2018-07-18 14:48] #97 closed

[2018-07-18 18:47] MeikTranel commented on #85
This is an issue with VSCode's launch behavior. I investigated this months ago. You could fix this in Cake, but the underlying issue is that VSCode escapes quotes from strings in the launch.json before passing it to the executable.

Where exactly this is happening inside vscode i don't know (i am having a really hard time getting behind typescript project structure), but i debugged into omnisharp

[2018-08-14 09:18] Roemer opened #98 "Merge Conflict Actions Missing"
With the cake extension enabled, I do not see the merge conflicts actions anymore.
See https://github.com/eamodio/vscode-gitlens/issues/344 for a similar issue in another vscode addin.
This is since cake adds its own codelens to run tasks.

[2018-08-29 08:19] pascalberger opened #99 "Add DocumentSymbolProvider for Cake Scripts to enable breadcrumb and outline functionality"
Visual Studio Code 1.26 added [breadcrumb support](https://code.visualstudio.com/updates/v1_26#_breadcrumbs). It would be nice if for Cake files breadcrumbs for the different Tasks (and Setup / Teardown) would be shown to allow quick navigation.

[2018-10-20 22:26] Tdue21 opened #100 "Feature Request: Implement Code outline for cake scripts."
It would be great if the Code Outline feature of VS Code could be implemented in this addin.
This way, it would be easy to navigate between tasks in a large script.

[2018-10-21 11:01] patriksvensson commented on #100
@Tdue21 Great idea! Is this something you would like to help out with?

[2018-10-21 11:03] Tdue21 commented on #100
Oh, I would love to, but I know nothing about TypeScript or the VS Code domain model.

[2018-10-21 11:03] patriksvensson commented on #100
@Tdue21 No problem! Worth checking 😄

[2018-10-21 11:04] Tdue21 commented on #100
Absolutely. I do think though that maybe it would a bit too heavy for a learning project :)

[2018-10-21 11:05] pascalberger commented on #100
Is this a duplicate of #99?

[2018-10-21 11:09] Tdue21 commented on #100
No, although Breadcrumbs are cool too, they are two different features. See this for Outline:
https://code.visualstudio.com/updates/v1_25#_outline-view

[2018-10-26 06:59] Tdue21 commented on #100
I am gonna take a stab at this. Seems like as good a starting place for learning TypeScript and the VSCode domain model as any :)

[2018-10-26 07:14] gep13 commented on #100
@Tdue21 that is great news!  I haven't looked at this new API in VSCode yet, so I won't be in a position to give any direct guidance, but feel free to reach out and ask any questions that you might have.

[2018-10-28 14:02] Tdue21 opened #102 "Error running complete cake script"
When I try to build via the cake script, I get this error:

[code]

The references log file has been attached.
[2018-10-28T13_52_15_779Z-debug.log](https://github.com/cake-build/cake-vscode/files/2522820/2018-10-28T13_52_15_779Z-debug.log)

I am guessing it has something to do with the reference to c:/Users/appveyor, since that user does not exist on my system.

[2018-10-28 14:18] Tdue21 commented on #102
Seems it is this commit that broke it:
[46925e087915e13e0741cf4dd6727cd3a9e5a2bf](https://github.com/cake-build/cake-vscode/commit/46925e087915e13e0741cf4dd6727cd3a9e5a2bf)

[2018-10-28 14:46] gep13 commented on #102
Unfortunately, this was done deliberately...

[2018-10-28 14:48] gep13 commented on #102
We use AppVeyor as the CI tool for publishing the final release.  It already had tsc installed, but an earlier version, and after installing it globally as part of the build script, the earlier version is still the one that is found when running tsc directly. As such, it was necessary to hard code to the location that we wanted to use.

[2018-10-28 14:48] gep13 commented on #102
The side effect is that this part of the build is broken locally. If there is another way to do it, I would welcome any ideas you might have.

[2018-10-28 21:59] Tdue21 commented on #102
Ok, that explains it :)

[2018-10-29 14:08] Tdue21 commented on #102
How about this:
"scripts": {
    "vscode:prepublish": "npm run compile",
    "compile": "%APPDATA%/npm/tsc -p ./",
    "watch": "%APPDATA%/npm/tsc -watch -p ./",
    "postinstall": "node ./node_modules/vscode/bin/install",
    "test": "npm run compile && node ./node_modules/vscode/bin/test"
  },

[2018-11-07 07:52] SmGG opened #103 "cake IntelliSense support is too slow it takes at least 20 seconds to show the response sometimes even longer"
HELP !!!

[2018-11-07 08:01] gep13 commented on #103
@SmGG In order to best help you with this, you are going to need to provide us with a lot more information than you currently have.

Can you give a full set of steps to reproduce the problem that you are seeing, including the file(s) that you are trying to provide intellisense for.  Also include exactly what versions of Cake, VSCode, etc, that you are using.

[2018-11-07 08:33] SmGG commented on #103
VSCode Version:

Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:23:51.859Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

CakeVersion: 0.30.00
CakeExtensionVersion: 0.11.4

[2018-11-07 08:35] SmGG commented on #103
Do I have to provide the files? @gep13

[2018-11-07 08:40] gep13 commented on #103
@SmGG if you can, that would help.  Or, for instance, do you see the same problem when using something the example repository?

At the end of the day, we need a complete set of steps to reproduce your problem, or we are not going to be able to help.

[2018-11-07 08:48] SmGG commented on #103
I'm a beginner, it's my first project using cake. I can tell the code is quite a mess, and the main file build.cake got nearly 600 lines, and it loads four other cake files, got three addins

#addin nuget:?package=Cake.IIS&version=0.4.1
#addin nuget:?package=Commando.UI&version=1.3.0

and 8 using,

using System.IO;
using System.Text.RegularExpressions;
using Commando.Colors;
using Commando.Colors.

[2018-11-07 08:52] gep13 commented on #103
@SmGG sorry, but no.  I can't reproduce that problem with the information that you have provided.  If you can provide a complete sample build script and project that exhibits the problem for you, then we would be able to start digging into this further, assuming we can reproduce the problem with the project you provide.

[2018-11-07 09:03] SmGG commented on #103
@SmGG  could I just provide you the cake file? the project file is private
[cakefiles.zip](https://github.com/cake-build/cake-vscode/files/2556743/cakefiles.zip)

[2018-11-07 09:18] SmGG commented on #103
@gep13  I think I have reproduced the problem using the files I provide you. can you reproduce the problem?

[2018-11-07 09:40] SmGG commented on #103
@gep13

1. Download the zip
2. Check out the cake example from git@github.com:marcosnz/Cake-Example.git
3. Cover the file by using the cake files in the downloaded zip file
4. Open with VSCode install Intellisense support for cake files
5. Run a task default to install cake
6. Restart VSCode to make Intellisense support take effect
7. Try to write something, problem reproduced

[2018-11-12 15:22] n-sidorov opened #104 "Dotnet global tool support"
Cake v0.30 introduced an ability to run scripts via `dotnet cake` (https://cakebuild.net/blog/#global-tool) without the need of `build.ps1`.

Cake VS Code extension currently has cool auto-discover functionality but it works only with `build.ps`.

Is there are any plans to support global dotnet tool in this scenario?

[2018-12-05 12:22] gakera opened #105 "Clicking "run task" should also save the file if needed"
Adding a new task, or renaming a task, and then clicking "run task" above it (without manually saving first) results in an error:

[code]

Minor annoyance, but it should save first, or at least prompt you that you haven't saved and that running will result in an error unless you save. Or how do other tools behave, like Visual Studio with it's Code Lens for tests that have been discovered.

[2018-12-15 19:07] joelday opened #106 "C# language features are not working"
This was working at some point in the past without any project configuration changes since then.

Getting this exthost error:
[code]

VSCode version: 1.31.0-insider (user setup)

Thanks!

[2018-12-15 19:10] joelday opened #107 "Cake tasks are failing to be recognized"
This started as of the most recent Insiders build:

[code]

Version: 1.31.0-insider (user setup)
Commit: ece3a90fb58986570d8afdfb16530c4dd8c743af
Date: 2018-12-14T06:19:42.976Z
Electron: 3.0.10
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

Thanks!

[2018-12-24 14:52] SmGG commented on #103
now, cake just doesn't work anymore, not just slow, What Happened!!!!

        Could not initialize Cake script service. Aborting.

Please help me @gep13

[2018-12-25 00:48] SmGG commented on #103
oh, sorry I forgot to install cake.backery yesterday, my fault. but it still very slow, @gep13

[2019-02-05 18:50] p-kaczynski opened #108 "--script parameter ignored on macOS"
On macOS High Sierra v.10.13.6, when `build.sh` processes `--script="<path>"` using the following snippet:

[code]

the line `-s|--script) SCRIPT="$2"; shift ;;` will NOT execute, because the use of `=` sign between `--script` and the path gets treated as a singular parameter, not equal to either `-s` or `--script`. Therefore the `SCRIPT` var is not overriden and if the script file is not in defau

[2019-02-05 18:52] p-kaczynski commented on #108
Created PR: https://github.com/cake-build/cake-vscode/pull/109

[2019-02-08 12:41] gep13 opened #119 "Add mergify to repository"

[2019-02-08 12:56] #119 closed

[2019-02-08 16:02] gep13 opened #125 "Correct usage of settings class for NpmInstall"
The silent settings isn't being used here:

https://github.com/cake-build/cake-vscode/blob/develop/build.cake#L63

[2019-02-08 16:14] #125 closed

[2019-02-12 10:45] sandy081 opened #133 "Adopt extension for no reload on install"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-12 10:55] gep13 commented on #133
@sandy081 thank you for reaching out!

It looks like it is indeed our extension that is making use of this:

https://github.com/cake-build/cake-vscode/blob/dbe1413728e5d88ef6a9593def2f6ac8a2047d6d/package.json#L98-L100

Are you able to provide any additional details about exactly what needs to be done within our extension to adhere to the new guidelines?  Do you have any examples?

[2019-02-12 11:14] sandy081 commented on #133
@gep13 If you define a contribution point for other extensions to use then you might be providing some functionality that others can use by contributing to your contribution point.

For example, VS Code has out of the box many contribution points like `configurations`. It means if an extension contributes to this contribution point then VS Code allows users to customise contributed configurations

[2019-02-13 07:43] gep13 opened #136 "Update GRM config to include security label"

[2019-02-13 07:44] #136 closed

[2019-02-13 08:54] Duracell1989 commented on #107
It appears to be fixed in #https://github.com/Microsoft/vscode/issues/67990. Please try to use the latest version of VSCode (1.31.1)

[2019-02-13 11:31] gep13 commented on #107
@Duracell1989 thank you for confirming.

@joelday going to go ahead and close this, but let us know if you are still facing problems.

[2019-02-13 11:31] #107 closed

[2019-02-14 10:54] gep13 opened #140 "Remove hack to get things building in AppVeyor"
As this has the side effect of things not building on Travis

[2019-02-21 23:17] devlife opened #143 "Allow for files other then build.ps1/build.sh"
I renamed `build.[ps1|sh]` to `dev.[ps1|sh]`. Now the discovered VS Code Tasks fail because it can't find `build.[ps1|sh]`. Can you make the file path configurable?

Perhaps here? https://github.com/cake-build/cake-vscode/blob/dc0abf31a9ccb892ae9f4bc53c24be6b11dbbde9/src/codeLens/cakeRunTaskCommand.ts#L11-L12

[2019-03-20 14:54] gep13 opened #163 "Switch to using Cake.VsCode.Recipe"
For consistency between other extensions.

[2019-03-20 16:03] #163 closed

[2019-03-20 17:51] gep13 commented on #140
I have simply removed the Travis build for now.

[2019-03-20 17:51] #140 closed

[2019-03-20 17:57] #133 closed

[2019-03-20 19:17] #108 closed

[2019-04-09 20:01] gep13 commented on #93
@Roemer I am fairly sure that I know what the issue is here, but bumping to next version, as I need to get a release out for... reasons.

[2019-04-09 20:04] gep13 commented on #73
@Roemer I believe that this was corrected as a result of upstream changes.  Let me know if this is still an issue.

[2019-04-09 20:04] #73 closed

[2019-04-10 08:25] gep13 commented on #133
@sandy081 we believe we have made the necessary changes, and pushed out a new version of the extension.

Can you please confirm that we have completed the necessary work?

Thanks

[2019-04-10 16:53] sandy081 commented on #133
I do not think I am the right person to verify the internal behaviour of this extension. Please check if your extension is working properly after getting installed (without window reload).

[2019-04-10 17:00] gep13 commented on #133
@sandy081 bottom line is, the extra additions in the package.json were not something that any of the Cake Team knew about. They were added as part of a PR that we received, and we were not intentionally extending the functionality.

This addition has been removed, as per the associated commit, and the extension continues to work as expected.  Is this the only change that you expected?

When I upgr

[2019-04-11 10:26] sandy081 commented on #133
Yeah, update prompts reload because the extension is running. Please check during fresh install.

[2019-04-11 12:20] gep13 commented on #133
Yeah, update prompts reload because the extension is running. Please check during fresh install.

Thanks.  I can confirm that a fresh installation of the extension did not bring up a reload prompt.

Thanks again for your help and support with that.

[2019-05-29 15:56] Lakkanna commented on #92
check .vscodeignore make sure that it's not containing node_modules, if exists remove node_modules from .vscodeignore

[2019-06-18 19:02] odalet opened #222 "Debug Task fails on Windows"
Relates to issue #80

I just downloaded cake and the vscode extension, had a look at the video and tried to debug a task (in the sample project) by directly clicking the 'debug task' codelens link.

When I do so, I get insulted by cake in the debug output saying:

[code]
then the process exits.

I understand cake is unhappy because it is probably trying to debug using NEtfx instead of .NET Core (s

[2019-06-23 15:38] odalet commented on #222
Replying to myself:

The problem seems more complex than I thought. I forked the extension, debugged through it and could not see what's going wrong when debugging a task (the 'coreclr' type is correctly set when creating the debug configuration). Maybe this is related to my machine's specific setup...

In conclusion, the bug still exists for me, but I have no clue how it could be fixed!

[2019-06-23 17:54] odalet commented on #222
OK, end of the story: I had completely misinterpreted the message from vsdbg...
I still have a problem: I can use the debug codelens successfully only when debugging the omnisharp extension. When running the officially installed omnisharp extension, vsdbg seems not to see any breakpoint.

Anyway, I think the issue is on the omnisharp side (or my machine), not here. Closing this issue.

[2019-06-23 17:54] #222 closed

[2019-06-26 06:37] ursqontis opened #225 "Format Document"
After installing this extension in VS Code, I hoped that I could use the VS Code "Format Document" with .cake files. This should format the document, e.g. indent properly. However, this doesn't seem to work. Was this feature not implemented yet (altough it seems very important to me), or is this a bug?

[2019-11-13 12:00] SmGG commented on #103
It seems like this problem is no longer exists in my project, it's all good for me now, the Intellisense support is now fast and smooth.

Cake.Bakery version 0.4.1
Cake Extention version 0.12.0
dotnet version 2.2.100

thanks for your patient, and sorry for bothering you, 😂  @gep13

[2019-11-13 12:00] #103 closed

[2020-01-13 14:14] Diogomrol opened #308 "Cannot read property 'Tools' of undefined while trying to debug"
Hi,

After installing the Cake extension it looks like the "debug task" helper cannot be used.

Anytime I click "debug task" I get a message saying **"Cannot read property 'Tools' of undefined"**.

If I try to do the debug using the Visual Studio Code debug window, I get another error trying to load Cake.Powershell lib.

`Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.9\System.Di

[2020-01-21 19:03] squideyes commented on #308
I'm also experiencing this problem.  I thought it might be setup-dependent so I tried it on two separate machines but the issue occured

[2020-01-31 10:28] lstefano71 commented on #222
Sorry to comment on a closed issue. Did you ever get to the bottom of this? I am having exactly the same issue. Thank you in advance.

[2020-01-31 10:30] lstefano71 commented on #308
Same problem here. Workaround: put the following in cake.config:
[code]
Once you do that it'll stop complaining about the property of undefined. It still does not work on my machine but that may be something different. Good luck!

[2020-01-31 13:19] odalet commented on #222
Unfortunately I didn't. I too experienced again these issues, but I'm not able to consistently reproduce them. And... I'm not using cake any more at the moment.
All this explains why I closed the issue. I may come back to it if I ever play again with cake.

[2020-01-31 15:42] lstefano71 commented on #308
I cannot get the codelens command "Debug Task" to work but I think I know why it does not work. First of all: this is under Windows because I suspect that in Linux or MacOS it works.
The culprit seems to be this line: https://github.com/cake-build/cake-vscode/blob/cfebb270a251dd07cdb323c3a941bc7ecb80204f/src/codeLens/cakeDebugTask.ts#L28

The "target" parameter is put on the command line with esca

[2020-01-31 16:59] lstefano71 commented on #308
Yes, I can confirm that the problem is those slashes before the quotes. But not those in the source code, unfortunately. For reasons I don't understand, `vscode.debug.startDebugging` puts a backslash before the quotes. And Windows (or is it dotnet.exe?) does not like that. If I change the line in the extension source code to be:
    `--target=${taskName}`
then the codelens command "Debug Task" wor

[2020-03-06 08:09] jrmnl opened #329 "Cannot activate the 'Cake' extension because it depends on an unknown 'ms-vscode.csharp' extension"
Hi,
I can't use extension because of it depends on "ms-vscode.csharp" instead of "ms-dotnettools.csharp". omnisharp-vscode updated its publisher name in 1.21.13 version.
There is pull request with possible fix - https://github.com/cake-build/cake-vscode/pull/323

Steps to reproduce:
1. install vs code
2. install cake extensions
3. open cake file

Result:
error message - "Cannot activate the 'Cake'

[2020-03-06 13:08] Mezzenine commented on #329
I have the same issue.

[2020-03-06 14:19] tc4rdpp commented on #329
I have the same issue as well.

[2020-03-06 17:36] #329 closed

[2020-03-06 20:55] gep13 commented on #329
@jrmnl @Mezzenine @tc4rdpp a new version, 0.13.0, of the Cake extension has just been released, and it appears to fix this problem.  Please let us know if you see any other problems.

[2020-03-06 21:00] gep13 opened #330 "Add Chocolatey API Key to AppVeyor"
Currently, the repository is set up to publish a Chocolatey package version of the extension, but the required API Key to publish the package isn't set in AppVeyor.  This needs to be taken care of.

[2020-03-06 21:01] gep13 opened #331 "Update Marketplace API Token"
When attempting to publich version 0.13.0 of the extension, there was a failure when attempting to publish the vsix.  The API Token needs to be updated with a new version.

[2020-04-22 11:05] jakubsuchybio opened #354 ""debug task" codelens doesn't work"
Hi,
when I created empty cake solution. see here: https://github.com/jakubsuchybio/cake-repro
And tried clicking on ```debug task``` inside ```build.cake```, then I got error
[code]

I searched a bit and found, that this might be a problem in Omnisharp here:
https://github.com/OmniSharp/omnisharp-vscode/issues/3699

But I just posting it also here for reference.

Also, hitting F5 works, but clicki

[2020-06-29 10:11] mholo65 opened #376 "Debug should use Cake.Tool instead of Cake.CoreCLR"
When installing debug dependencies. Install `Cake.Tool` as global tool instead of `Cake.CoreCLR` locally.
https://github.com/cake-build/cake-vscode/blob/df630c4e1681b132bf5c3035c053b73a50877fb0/src/debug/cakeDebug.ts

We should also update `package.config` to use `Cake.Tool`:
https://github.com/cake-build/cake-vscode/blob/372b91f34fb5383ebddb37aa29f6237109638374/package.json

[2020-06-29 20:37] gep13 commented on #376
Final launch.json used during stream on 29th June 2020:

[code]

[2020-07-10 01:49] AlbertoMonteiro commented on #225
My current workaround is using dotnet format tool to do this.
I really hope that could be handled by this extension

[2020-09-10 15:08] DanFTRX commented on #104
This would be nice.  I can no longer use this extension because FIPS compliance prevents using the build.ps1 bootstrapper.

[2020-09-23 19:03] DanFTRX opened #409 "Does not support Bootstrapping for .NET Core Tool out of box"
The VSCode plugin does not support the new .NET Core Tool bootstrapper out of the box.  It still expects a ps1 file.  I was able to work around it by adding a ps1 file that just calls "dotnet cake" with the supplied arguments, but it would be nice for it to work out of the box.

[2020-10-16 11:57] pascalberger commented on #409
@gep13 Is this a duplicate of #376?

[2020-10-16 13:57] pascalberger commented on #104
@gep13 Is this a duplicate of #376?

[2020-10-19 19:24] ronilaukkarinen commented on #92
@Lakkanna You are a lifesaver! I literally bashed my head to the wall 4 hours with this... published my first vscode plugin and kinda new to it, after hours of googling I finally found your answer. I don't know what node_modules was to do in .vscodeignore but I'm glad I finally got this solved. So thank you so much!

[2020-10-26 21:50] gep13 commented on #376
@mholo65 @devlead using the above example, this:

[code]

Would couple it directly to Windows, right?

What is the correct thing to put in here, so that it would work on both Windows and other operating systems?

[2020-10-26 21:54] gep13 commented on #376
Would this work:

[code]

[2020-10-27 07:23] devlead commented on #376
In theory, it should and if it does then it would also mean we supported local tools that don't generate the executable stubs.

[2020-10-27 07:33] gep13 commented on #376
@devlead I tried this on the stream last night, and it didn't work, it only stepped into the debugger when using `dotnet-cake.exe` or `dotnet-cake`.  So unless there is something else that needs to be done to get it to work, i.e. passing arguments differently, then we won't be able to go down this route.

[2020-10-27 09:21] mholo65 commented on #376
Problem is that `dotnet` is implicit when using type CoreCLR. So now debugger will launch with `dotnet dotnet cake <args>` and that doesn't work. I don't think `cake` as executable will work either, since that can't be find on path ☹️

[2020-10-27 09:32] devlead commented on #376
So this starts script and debugging for me...
[code]

Issue is that seems to start a child process so it gets stuck at
[code]

[2020-10-27 09:34] devlead commented on #376
Node has `autoAttachChildProcesses`, but .NET doesn't seem to have.

[2020-10-27 09:42] devlead commented on #376
Above is short for
[code]
But still launches a child process.

[2020-10-27 09:48] gep13 commented on #376
I haven't tried it, but I "think" we should be able to do:

[code]

This is based on this:

https://code.visualstudio.com/docs/editor/debugging#_platformspecific-properties

[2020-10-27 10:02] devlead commented on #376
Yes, that would work, requirement then that the Cake tool is installed globally though, won't work for tool manifest installs.

Maybe we could create something in the extension for launch and attach to process if `Attach debugger to process xxxxx to continue...` appears in stdout.

i.e. this
`dotnet tool run dotnet-cake -- build.cake --debug --verbosity=diagnostic`

works with attach
![image](http

[2020-10-27 10:14] gep13 commented on #376
Yes, that would work, requirement then that the Cake tool is installed globally though, won't work for tool manifest installs.

I guess I am confused a little bit about this.

Am I right in saying that shim files are still created when installed via tool manifest?  If so, it would be a case of getting the launch.json to also look in there, right?

We can certainly add an attach into the launch.jso

[2020-10-27 10:26] devlead commented on #376
shim files aren't created when installed using manifest, and that's the issue.

[2020-10-27 10:31] devlead commented on #376
What we would need would be something like the `serverReadyAction` but for child processes or .NET supported auto attach child processes like node.

I.e. this will launch a browser with the process id, not very helpful but there's a way to launch a debugger in similar way that would sort things.

[code]

[2020-11-02 20:14] gep13 commented on #376
Debugging the spawning of child processes is being tracked in this issue: https://github.com/dotnet/runtime/issues/43924

[2020-11-02 22:39] nils-a opened #429 "'Add [tool|addin] from nuget' should save the Cake script if it's already open."
When editing the Cake file, during edit select '*Add [tool|addin] from nuget*' command and add something.
The tool (or addin) will be added to the Cake file as it is, on the disk but not in the file that is currently open.

Example:
![72mrwIu3Bj](https://user-images.githubusercontent.com/349188/97926658-c7716f80-1d63-11eb-8527-196d0a0635d0.gif)

I see two possible soltions:
* If the file is alread

[2020-11-02 22:40] nils-a commented on #429
This is a bit like #105

[2020-11-02 23:00] nils-a commented on #409
@pascalberger I *think* this is either about "Run Task"-command or about the CodeLens.

Both use either `build.ps1` or `build.sh`, depending on the os.
* for "Run Task"-commands see https://github.com/cake-build/cake-vscode/blob/develop/src/cakeMain.ts#L164
* for CodeLens, see https://github.com/cake-build/cake-vscode/blob/develop/src/codeLens/cakeRunTaskCommand.ts#L11

So I think this is rather a

[2020-11-03 14:22] DanFTRX commented on #409
Yeah sorry this is in regards to "Run Task"

[2020-11-04 20:03] gep13 commented on #88
Going to close this issue due to lack of response.

[2020-11-04 20:03] #88 closed

[2020-11-04 20:11] gep13 opened #432 "Ability to download bootstrappers for all supported runners"
Out of the box, Cake supports four different runners:

* .Net Tool
* Frosting
* .Net Framework
* .Net Core

Of these, the VSCode extension should allow the download of bootstrappers for both PowerShell and Bash, for:

* .Net Tool
* .Net Framework
* .Net Core

Work has already been done in the resources and website repositories to make files available at the following URL's:

[code]

So it would be

[2020-11-04 20:27] gep13 commented on #98
@Roemer apologies for not coming back to you sooner about this!

Reading through that issue that you linked it would appear that the underlying issue was with VSCode, and was fixed in an update.

I am going to assume that the same is true here, and I will close out this issue.  Thanks

[2020-11-04 20:27] #98 closed

[2020-11-05 15:09] MarkKharitonov commented on #88
Sorry, lost interest.

[2020-11-05 19:39] #93 closed

[2020-11-05 19:43] #432 closed

[2020-11-05 20:13] #429 closed

[2020-11-09 21:31] #143 closed

[2020-11-09 21:58] nils-a opened #438 ""Run Task" shows potentially confusing options, when multiple cake files are present"
When using `Run Task > Cake` all tasks from all Cake-files are shown.

However, when multiple files contain equal named tasks the displayed selection is a bit confusing:
![image](https://user-images.githubusercontent.com/349188/98601276-1a58a300-22df-11eb-8178-49378dbb7257.png)

[2020-11-13 19:13] yohanb opened #443 "Code Actions Not Working"
Hi,
I'm trying to use the vscode extension and the code actions aren't being suggested as they should be.  It works fine in a regular C# project.

Getting the following output:

_Problem invoking 'GetCodeActions' on OmniSharp server: "System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.\nParameter name: index\n  at Microsoft.CodeAnalysis.Text.SourceText+Line

[2020-11-13 21:31] yohanb commented on #443
Fixed once installed the prerelease version of omnisharp.
https://cakebuild.net/docs/integrations/editors/vscode/intellisense#how-can-i-use-a-pre-release-version-of-omnisharp

[2020-11-13 21:31] #443 closed

[2020-11-13 21:45] nils-a commented on #79
Actually it seems `/tools/Cake/Cake.Core.dll` is required,

The error from OmniSharp is:
[code]

@gep13 for a project/bootstrapper that will use the .NET global tool the "workaround" of calling the bootstrapper will no longer work. Should we ensure a version of Cake being downloaded into the tools folder (along with `Cake.Bakery`) or should we raise an issue upstram? (Or both...)

[2020-11-13 23:14] nils-a commented on #87
I can not reproduce that problem. I'm guessing  @gep13 fixed it in https://github.com/cake-build/cake-vscode/commit/5cd4777f30d09b8f21815b0a42f2351db5365968.

@WalkerCodeRanger Do you still have the problem?

[2020-11-14 16:38] #438 closed

[2020-11-14 16:55] #32 closed

[2020-11-14 17:02] #81 closed

[2020-11-15 17:49] WalkerCodeRanger commented on #87
I'm no longer using Cake so I can't say if the issue still exists or not.

[2020-11-15 19:57] nils-a commented on #87
@gep13 I'd vote to close this issue. I think the problem was fixed (see above) and I can no longer reproduce it.

[2020-11-16 09:43] nils-a commented on #99
Population of the breadcrumb is tied to `symbols` and while adding symbols is easy, parsing of the code is not 😄

My first test:
![image](https://user-images.githubusercontent.com/349188/99236953-21f4dc00-27f8-11eb-8372-5773d1b0a94f.png)

So I'm wondering whether we should really add our own `DocumentSymbolProvider` or if it's possible to get Cake support into OmniSharp `CodeStructureRequests`. (W

[2020-11-16 09:49] nils-a commented on #100
Reading this, I feel @pascalberger is "sort of" correct.

While this is technically not really a duplicate, both features require a  `DocumentSymbolProvider` and then they both work.
The following is a screenshot I mad from my first stab at #99 :

![image](https://user-images.githubusercontent.com/349188/99237816-48674700-27f9-11eb-99d5-4dc09916d619.png)

So.. The same code will fix both issues.

[2020-11-16 12:04] gep13 commented on #99
I believe I remember speaking to @mholo65 about this, and this is something that would be better coming from OmniSharp or from the Cake LSP.

[2020-11-16 13:09] nils-a commented on #99
... the Cake LSP ....

The last time I tried writing one I failed miserably. (Or rather I ran out of evergy to get even the simplest of demos to work)

So, what's the status of the Cake LSP?

[2020-11-16 14:22] mholo65 commented on #99
I've something working, but will take some time before we can take it into use. Once that's done, we should most certainly implement these kind of feature in the language server. Having that said, if you want this now, feel free to submit a PR here, but keep in mind that it will most probably be removed once we have our own working Cake LSP server.

[2020-11-16 15:03] nils-a commented on #100
@Tdue21 I realize this has been idling around for some time. Are you in a position and willing to rebase this PR? I'd really love to take it for a spin.

[2020-11-16 20:15] #105 closed

[2020-11-16 20:22] gep13 opened #448 "Remove mergify configuration"
This configuration is no longer required, and instead, we will use built in option within GitHub.

[2020-11-16 20:22] gep13 commented on #448
![image](https://user-images.githubusercontent.com/1271146/99303849-7aa09500-2849-11eb-87b9-4951d3347a2e.png)

[2020-11-16 20:23] gep13 commented on #448
From @admiringworm...

This setting...

[2020-11-16 20:23] #448 closed

[2020-11-16 20:36] #87 closed

[2020-11-16 20:50] gep13 commented on #104
@pascalberger yes, I think there are several overlapping issues here.  Let's go ahead and close this one out, in favour of the others that are actively being worked on.

[2020-11-16 20:50] #104 closed

[2020-11-16 20:51] gep13 commented on #100
@nils-a as mentioned in other issue, I think the best suggestion here would be to wait until Cake LSP implementation is available, which should make some of this work much easier to achieve.

[2020-11-16 20:57] gep13 commented on #100
I am going to close this as a duplicate of this issue: https://github.com/cake-build/cake-vscode/issues/99

While breadcrumbs and code outline are two pieces of functionality within VSCode, they are both implemented by the creation of a DocumentSymbolProvider, so no need for two issues to track this feature.

[2020-11-16 20:57] #100 closed

[2020-11-16 21:06] pascalberger opened #449 "Move Chocolatey package into this repo"
There's a Chocolatey package (https://chocolatey.org/packages/vscode-cake) for this extension which is currently maintained outside. We should move it into this repo and publish as part of the build process.

Since package is released with a `1.0.0.x` version this could not be done before 1.0 is released. Once code is moved Chocolatey package should be changed to include VSIX into the package and

[2020-11-18 21:08] nils-a opened #452 "Running the unittests is broken"
There are a couple of unittests in the `test` folder, but neither `npm run test` nor running the `Extension Test` task in VS Code are working.

[2020-11-22 21:22] gep13 opened #458 "Switch to building with Cake.Tool"

[2020-11-22 21:29] #458 closed

[2020-11-22 21:37] #99 closed

[2020-11-23 21:20] gep13 opened #460 "When installing .Net Global Tool check if newer version exists and prompt for installation"
Based on conversation during Stream on 23/11/2020

[2020-11-23 21:27] #376 closed

[2020-11-23 21:30] gep13 commented on #308
This came up during testing of the overall extension on the Twitch Stream on 23/11/2020, and hopefully this will be addressed before the next release.

[2020-11-23 21:34] gep13 commented on #102
@Tdue21 I believe that this has now been addressed.  Thanks for bringing this up.

[2020-11-23 21:34] #102 closed

[2020-11-24 09:55] nils-a opened #461 "cake.taskRunner.launchCommand still defaults to using a bootstrapper"
`cake.taskRunner.launchCommand` (correctly) defaults to the .NET Tool (i.e. equal to `{ "default": "~/.dotnet/tools/dotnet-cake", "win32": "dotnet-cake.exe" }`

`cake.taskRunner.launchCommand` still (wrongly) defaults to `{"default": "./build.sh", "win32": "powershell -ExecutionPolicy ByPass -File build.ps1"}`

[2020-11-24 09:57] nils-a commented on #461
@gep13 for `cake.taskRunner.launchCommand` the default of `dotnet cake` should suffice, right? No platform specifics needed here.

[2020-11-24 10:32] gep13 commented on #461
@nils-a based on what we discussed on the stream last night, we want everything to default to a globally installed version of the Cake .NET Global tool, so this would equate to `dotnet-cake` or `dotnet-cake.exe`.  If we switch to using `dotnet cake` which would a locally installed version of the tool, then the run task command will work, but the debug task command won't.

[2020-11-24 10:42] nils-a opened #463 "The dependency to `npm` is not needed."
Currently the project depends on `npm` as a runtime dependency. This is no longer needed.

We also should check for other unneeded dependencies.

[2020-11-24 10:58] #463 closed

[2020-11-24 20:13] #461 closed

[2020-11-24 20:21] #354 closed

[2020-11-28 22:52] nils-a opened #470 "When running "Cake: Install to workspace", installing debug-dependencies should ask"
which runner should be installed.

Currently though, the runner for .NET Framework is always installed.

There's also a *TODO* in the codebase for exactly this: https://github.com/cake-build/cake-vscode/blob/240270bcbbf408570389f218080a681c81eb41ed/src/install/actions/installCake.ts#L73

[2020-11-29 08:53] gep13 commented on #470
Thanks for adding this, I was going to submit the issue today as I noticed this when doing the other work.

Is this something you are working on?

[2020-11-29 09:54] #308 closed

[2020-11-29 09:55] gep13 commented on #308
@lstefano71 this has been fixed, and will be addressed in the next release.

[2020-11-29 10:08] #460 closed

[2020-11-29 10:19] nils-a commented on #470
No, currently not working on it.

[2020-11-29 10:20] gep13 commented on #470
@nils-a that's fine, just wanted to check before I started working on it.  Going to try to get this done today.

[2020-11-29 18:55] #470 closed

[2020-11-30 19:06] #409 closed

[2020-11-30 19:19] gep13 commented on #331
I believe I have put in the right token to make the publishing happen this time 😄

[2020-11-30 19:19] #331 closed

[2020-11-30 21:46] nils-a opened #473 "update-checks for Cake Tool only works with .NET 5 installed"
as discussed on stream, currently the update check (from #460 ) is done using `dotnet tool search cake.tool` . `dotnet tool search` is only available on .NET 5.

While the code is not visibly failing, no version check is performed as long as .NET 5 is not available.

An alternative to checking existing versions using `dotnet` could be accessing either
`https://azuresearch-usnc.nuget.org/autocomple

[2020-11-30 22:47] nils-a opened #475 "no linting is available in the project"
The project has no linting, currently
#464 removed the reference to `tslint` (though it is not mentioned in the commit)

While it might have been better to add a lint script in `package.json` instead of removing `tsling`, the [recommendation is `eslint`, now](https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration).

Having a linter would be a good start towards a common style (a

[2020-11-30 22:52] pascalberger commented on #475
There would also be a ESLint issue provider for Cake.Issues if you want to have it included in the build process (easiest way probably by adding Cake.Issues.Recipe to Cake.VsCode.Recipe, like for Cake.Recipe)

[2020-11-30 23:17] nils-a commented on #475
@pascalberger that sounds like a good idea. Additionally we should add the linting, as well as running the tests (and probably depcheck, too) to the ci build. Sounds like a new issue. @gep13 What do you think?

[2020-12-01 07:01] pascalberger commented on #475
I created https://github.com/cake-contrib/Cake.VsCode.Recipe/issues/12 for addin Cake.Issues.Recipe to Cake.VsCode.Recipe.

The question is who is responsible for running the linter. I saw you added it as a node script with https://github.com/nils-a/cake-vscode/commit/5cdfdd106a3c0790f34e88aa2a006c44897deabf#. From a recipe point of view it would be cleaner if this is all done by Cake.VsCode.Recip

[2020-12-01 07:16] gep13 commented on #475
@pascalberger agreed, if we are going to add this in (behind a toggle so that it can be switched off) it would make sense to go into Cake.VsCode.Recipe, so that other extensions using the Recipe can take advantage of it.  Seems like we are already going to have to get a release of Cake.VsCode.Recipe out the door, so we could sneak this in before shipping that.

[2020-12-01 13:26] nils-a commented on #475
@pascalberger yes - I did that with yesterday's "this is a node project"-view of the world 😄

From a Recipe-view we would best create `Cake.ESLint`. I guess the thing I'm trying to say is that, having eslint installed creates scripts `node_modules/.bin/eslint[|.cmd|.ps1]` and we would need to decide which one to call. using `npm run lint` is easy and does that for us - provided the npm script `lin

[2020-12-01 13:29] gep13 commented on #475
Seems like there is an open issue about this already: https://github.com/cake-contrib/addin-requests/issues/6

[2020-12-01 14:44] pascalberger commented on #475
You don't necessarily need a plugin to run ESLint (or any npm commend). It's also perfectly fine to just run the process directly using any of Cakes [process aliases](https://cakebuild.net/dsl/process/). The question should be "Who is in control of the build orchestration" ? Is it Cake? Is it npm scripts? Having one tool responsible for orchestration calling other tools, is perfectly fine. As soon

[2020-12-01 15:50] gep13 commented on #475
Given that there is more to the overall build process, I personally would prefer that Cake is doing the work, rather than going into npm scripts doing the work, but that is just me.

[2020-12-01 20:16] nils-a commented on #475
Agreed. I'll see if I can switch from `package.json` scripts to cake.

[2020-12-01 20:31] #473 closed

[2020-12-01 20:32] gep13 commented on #473
@nils-a I am not going to assign this to the milestone, since this is related to #460, which is already part of the milestone.

[2020-12-01 21:32] gep13 opened #476 "Incorrect link in Twitter message that was sent"
In the tweet that was sent:

https://twitter.com/cakebuildnet/status/1333885028435185671

The link is incorrect.  Should be:

https://marketplace.visualstudio.com/items?itemName=cake-build.cake-vscode

[2020-12-01 22:42] nils-a commented on #475
@gep13 @pascalberger What do you think of https://github.com/nils-a/cake-vscode/commit/cd93fb7e89a8133a3a91bcff6496eb9fc1a01025 ?

[2020-12-01 22:51] pascalberger commented on #475
The question is if running linters and tests is something which we expect from the recipe script or is it something which every build script needs to implement itself? At a first glance I would say this is something which should be possible to add to Cake.VsCode.Recipe.

[2020-12-01 23:46] augustoproiete opened #477 "Error downloading bootstrappers: Failed download configuration: Error: ESOCKETTIMEDOUT"
I've just upgraded to v1.0.0 and tried to run the task "Cake: Install to workspace" (selecting all the default options) on an empty folder.

![image](https://user-images.githubusercontent.com/177608/100808127-f41fb200-3409-11eb-9efb-4c8485addd0f.png)

I think I saw @gep13 having the same error yesterday during the stream and I had the impression it was related to caching of config settings?

Repor

[2020-12-02 10:24] gep13 commented on #475
@nils-a as a first pass, I think the tasks make a lot of sense, but I also agree with @pascalberger it would be good to get these added into the Recipe, so that other users don't also have to implement these steps, but rather simply have a parameter they can put in their recipe.cake file to turn it off if they don't want it.

[2020-12-02 10:25] gep13 commented on #477
@augustoproiete thank you for raising this.  This is indeed the same error that I had during my stream on Monday night.  For me, this was an intermittent problem.  Running it again, everything would work.

Can you confirm if this is also the case for you, or is it happening every time?

[2021-01-28 13:57] ymartin59 commented on #79
After https://github.com/cake-build/bakery/pull/109/files
issue may still happen with Chocolatey installation: https://github.com/cake-build/bakery/issues/115

It is worth to notify user about issue to locate `Cake.Core.dll` as it requires quite some time to identify trouble in log to understand why IntelliSense does not work.

[2021-01-28 15:51] ymartin59 commented on #449
OK but if we install vscode-cake from Chocolatey... it may be interesting that it works out-of-the-box with Chocolatey "cake" and "cake-bakery"... but it is not yet true because of Shim https://github.com/cake-build/bakery/issues/115

[2021-02-02 01:31] augustoproiete commented on #477
Closing this as cannot reproduce anymore. Exercised adding bootstrappers (.ps1 & .sh) multiple times, repeating tests after uninstalling and installing the extension again a few times... And don't see this error anymore, and bootstrappers are downloaded.

My guess is that either it was a one-time issue when migration from the 0.x extension to 1.0, or it's a temporary connection issue to https://ca

[2021-02-02 01:31] #477 closed

[2021-02-04 07:17] robgha01 opened #497 "Debugging cake scripts in visual studio code and using #load"
Its simply not working no scripts are loaded see the zip in this issue https://github.com/cake-build/cake/issues/1588 i get messages indicating that it cant find variables etc that live inside the #load script. Anyone of @mholo65 and @agc93 knows anything about this ?

The zip:
https://1drv.ms/u/s!AvOXr9f-QF0p22E1gMD_I9kTNWLS

[2021-02-20 03:06] augustoproiete opened #509 "Fix IntelliSense not working sometimes when it cannot find the Cake .NET Global Tool"
... Once https://github.com/cake-build/bakery/issues/125 is fixed.

---

It seems that in some scenarios the .NET Global Tool is installed and appears to be in the `%PATH%` but when you actually try to run it (e.g. via `Process.Start`) the OS can't find it for some reason.

[I mentioned this issue before on Slack](https://cake-build.slack.com/archives/C03B4CZ10/p1612124902111000?thread_ts=16121237

[2021-02-20 03:12] augustoproiete opened #510 "Find All References / CodeLens doesn't report usages from other files"
Reported by @AndaBucsa in https://github.com/cake-build/cake/discussions/3171#discussioncomment-386116

---

Needs investigation / repro to confirm behavior.

@bjorkstromm Is expected behavior / current limitation?

[2021-02-20 06:55] bjorkstromm commented on #510
That's currently a limitation by design.

If `a.cake` loads `b.cake`, when in the context of `b.cake` it's currently not possible to find references from `a.cake` as it's not in the current context.

[2021-03-05 06:12] augustoproiete opened #514 "Ship Cake.Bakery with the Cake VS Code extension"
With IntelliSense being the main appeal/feature of the VS Code extension, it would make sense to ship any pre-requisites for the IntelliSense to work out-of-the-box as soon as the extension is installed.

[2021-03-05 06:12] augustoproiete opened #515 "Enable IntelliSense automatically in the Cake VS Code extension"
Depends on #514. With IntelliSense being the main appeal/feature of the VS Code extension for Cake, it would make sense for it to Just Work™ as soon as the extension is loaded, without asking the user to follow the several [steps described in the docs](https://cakebuild.net/docs/integrations/editors/vscode/intellisense).

---

This is how it works:

|  |  | :one: |  | :two: |  | :three:  |  | :fou

[2021-03-05 06:21] augustoproiete opened #516 "Enable IntelliSense without having to open a folder in VS Code (i.e. single file too)"
Currently, in order for IntelliSense to work, a user must open a folder in VS Code, which is not always what's desired in some common day-to-day scenarios:

1.) It's easy to drag & drop a `build.cake` from Windows Explorer when the user wants to make a simple change to that one file

2.) It's easy to type `code build.cake` from a command-prompt/powershell/bash when the user wants to make a simple

[2021-03-09 04:47] augustoproiete commented on #514
[Related discussion](https://github.com/cake-build/bakery/issues/129#issuecomment-792357945) about shipping Cake.Bakery with in different ways:

Some questions:

- Do we need a Bakery .NET Tool separate from the Cake .NET Tool?
- Should we ship Core / Common with Cake.Bakery?
- Should we try our best to detect which runner & version is being used, and download specific components for that runner (

[2021-05-24 01:24] 111mma opened #548 "System.NullReferenceException: Object reference not set to an instance of an object"
Hi all,
I've tried to config IntelliSense in VS Code but no success.
Any of described steps didn't help: https://cakebuild.net/docs/integrations/editors/vscode/intellisense

Log:

[code]

_Originally posted by @Marusyk in https://github.com/cake-build/cake/discussions/3364_

[2021-06-04 07:04] nils-a opened #554 "Command "add addin|tool|module from NuGet" removes additional query params"
Given the following setup:
![image](https://user-images.githubusercontent.com/349188/120759179-0b536f80-c513-11eb-857d-b9670fd78b1a.png)

(Notice how version and package are "switched" in `Cake.7zip`)

When I run the "add addin from NuGet" command and re-select `Cake.7zip` (i.e. to update the version), the line will look like this:
![image](https://user-images.githubusercontent.com/349188/12075933

[2021-08-07 20:54] nils-a commented on #475
Related to (and partially duplicates) #78

[2021-11-29 21:37] gep13 opened #591 "Remove support for deprecated Cake Runners"
Starting with Cake 2.0.0, the .NET Framework Runner (including Mono) as well as the .NET Core CLR Runner, are no longer supported.

Options to install, and configure these runners within the VSCode extension should be removed.

[2021-12-06 21:35] #476 closed

[2021-12-06 21:57] gep13 commented on #449
Going to bump this one from the 2.0.0 milestone, as there are some questions here that need to be addressed.

[2021-12-06 22:07] #514 closed

[2021-12-06 22:07] #515 closed

[2021-12-06 22:07] #591 closed

[2021-12-06 22:10] gep13 commented on #330
This is related to this issue: https://github.com/cake-build/cake-vscode/issues/449 and as such, can't be shipped at the minute.

[2021-12-13 21:29] gep13 opened #609 "Revert to earlier version of node-fetch"
There was a dependabot PR to lift node-fetch from 2.6.1 to 3.1.0

https://github.com/cake-build/cake-vscode/pull/598

However, this release includes a breaking change to how the module is loaded, and while there wasn't a compilation error, there was a runtime error when trying to activate the extension:

<img width="668" alt="2021-12-13_21-28-38" src="https://user-images.githubusercontent.com/1271

[2021-12-13 21:39] #609 closed

[2021-12-14 16:06] KatoStoelen opened #614 "IntelliSense not working for all .cake files in workspace"
cake-vscode v2.0.0
Cake.Bakery v0.9.2

I was previously using `cake-bakery.portable` via Chocolatey to get IntelliSense working for `.cake` files. Worked like a charm until recently. I suspect it stopped working around the launch of `cake-vscode` v2.0.0. Hence, I tried to get the "Enable IntelliSense automatically in the Cake VS Code extension" feature working, without any luck.

In my workspace,

[2021-12-14 18:41] gep13 commented on #614
@KatoStoelen sorry to hear that you are having problems!

Are you able to provide a small sample repository that shows the problem that you are having?  That would be the quickest way to try to get to the bottom of this problem.

Thanks!

[2021-12-14 18:48] KatoStoelen commented on #614
Was able to find the culprit. Seems that `Cake.Git` **v2.0.0** is causing this to happen. Tested previous versions of `Cake.Git` and some other addins, and the CakeProjectSystem was able to load the file without errors.

I can create an issue for Cake.Git instead.

The error message seems a bit off though.

[2021-12-14 19:05] gep13 commented on #614
A working (or in this case, not working) example showing the problem would still be required though. Perhaps best to keep the issue here until we decide what needs to be done to rectify this.

[2021-12-14 19:17] KatoStoelen commented on #614
I'm too trigger happy it seems (already created another issue) 😬

Steps to reproduce:
1. Create a new `.cake` file in any folder
2. Add the following addin directive to the file (the only content needed)
[code]
3. Open the folder in VS Code with `cake-vscode` 2.0.0 and `Cake.Bakery` 0.9.2
4. Observe the OmniSharp Log:
[code]

[2022-02-16 19:10] bjorkstromm opened #642 "Publish extension to Open VSX Registry"
It would be wise to also push this extension to Open VSX Registry so that it's available from Gitpod.

https://open-vsx.org/

[2022-02-25 09:51] ltrzesniewski opened #646 "Skip the bootstrap"
Currently the extension performs a Cake bootstrap every time a workspace containing a cake file is opened. I couldn't find a way to disable that behavior.

I use a custom bootstrapper script that sets environment variables such as `CAKE_PATHS_TOOLS` and `CAKE_PATHS_ADDINS` with custom paths. I have lots of cake files that use the same tools and addins, so I want those to be shared in a single plac

[2022-05-26 16:24] filiptronicek commented on #642
Currently, this is sadly not possible. The extension would need to switch to an OSS-licensed C# dependency, because currently it depends on `ms-dotnettools.csharp` [[1](https://github.com/cake-build/cake-vscode/blob/d6af2d03cfe9e659d9828e99beb6e96e6798edd4/package.json#L652)]. One such alternative is https://github.com/muhammadsammy/free-omnisharp-vscode, which should be compatible with the extens

[2022-06-29 09:19] nils-a opened #681 "Command "add addin|tool|module from NuGet" currently fails to fetch versions from NuGet"
Currently, when adding an [addin|tool|module] from NuGet, when vscode tries to fetch the available versions of the selected package from NuGet, the request fails and an error is displayed:
![image](https://user-images.githubusercontent.com/349188/176400115-3462726e-a134-43e4-838c-2031a01c7ab8.png)
There is no output logged in the output window.

Currently, it is really unclear what the underlying

[2022-07-31 22:19] corbob opened #690 "Feature Request: Add folding to the extension"
It appears that #8 had a very similar request to this, but at the time, VSCode didn't really allow folding. They have since [added language aware folding](https://code.visualstudio.com/updates/v1_23#_folding-provider-api), and it would be beneficial to include the proper data to allow folding.

I suspect whatever is done to allow folding in VSCode could also be used in the [Visual Studio Extension

[2022-08-05 10:09] lonix1 opened #693 "No intellisense support"
I followed the [instructions](https://cakebuild.net/docs/integrations/editors/vscode/intellisense) on the website, but I don't get full cake support.

environment
- linux ubuntu 20.04
- dotnet 6.0.302 (latest)
- vscode 1.70.0 (latest)
- c# extension 1.25.0 (latest)
- cake extension 2.0.0 (latest)

repro
- dotnet new console --output /tmp/cake
- code /tmp/cake
- install c# extension, cake extension

[2022-08-07 01:39] lonix1 commented on #693
Another things I noticed is in other issues people refer to something like this;
[code]
But I don't have anything like that. There is no `CakeProjectSystem` in the log, it's as if omnisharp doesn't know about cake.

I also searched for `OmniSharp.Cake.dll` as mentioned in the [docs](https://cakebuild.net/docs/integrations/editors/vscode/intellisense#i-dont-see-any-error-message-and-still-dont-get-

[2022-08-11 07:35] nils-a commented on #693
While *cake-vscode* provides some help in setting things up, *cake-vscode* is not responsible for providing language support (error-detection/compilation, auto-complete, F12-jump-do-definition...) for Cake. This is entirely based on [OmniSharp](https://github.com/OmniSharp/omnisharp-roslyn) (specifically OmniSharp.Cake) and [Cake Bakery](https://github.com/cake-build/bakery).

I'm closing this iss

[2022-08-11 07:35] #693 closed

[2022-10-06 08:30] bjorkstromm opened #719 "Use dll instead of exe for Cake Bakery"

[2022-10-08 18:01] #681 closed

[2022-10-08 18:05] #719 closed

[2022-10-11 09:01] nils-a opened #728 "`omnisharp.json` is not updated after manually calling the "Update Intellisense support" command"
When `bakeryPath` in `omnisharp.json` was modified manually, calling `Update Intellisense support` in *cake-vscode* will download a new/updated version of Cake.Bakery, but it will not fix the `bakeryPath` to point to this new installation.

[2022-10-11 12:22] nils-a opened #730 "The plugin is not testable directly after `git clone`"
After a fresh `clone` (or after running `git clean -dxf`) the workflow of start VSCode and hit F5 to debug does not work.

Compiling fails due to the missing `node_module` dependencies.

[2022-10-11 19:37] #730 closed

[2022-10-11 20:15] #728 closed

[2022-10-13 21:25] nils-a opened #733 "Modification of `omnisharp.json` can lead to errors"
As discussed on slack:

[2022-11-21 03:31] gitfool opened #745 "Bundle latest Cake.Bakery for Cake 3.0.0 support"